@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; }*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(220, 220, 220);
    background-size: cover;
    background-position: center; }

strong {
    color: rgb(243, 119, 119);
}
h1 {
    text-align: center;
}
.a .btn-cr {
    display: inline-block;
    margin-top: 20px;
    margin-right: 100px;
    padding: 5px;
    background: rgb(243, 119, 119);
    border: 2px solid rgb(243, 119, 119);
    border-radius: 50px;
    box-shadow: 0 0 10px black;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.a .btn-lo {
    padding: 10px;
    background: transparent;
    border: 2px solid rgb(243, 119, 119);
    text-decoration: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(243, 119, 119);
    font-weight: 600;
}