<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <!-- CSS -->
    <link href="{%static 'css/teacherclick.css' %}" rel="stylesheet" />
    <!--JS-->
    <script src="{% static 'js/teacherclick.js' %}"></script>
  </head>
  <body>
    {% include "quiz/navbar.html" %}
    <br /><br />
    <div class="jumbotron" style="margin-bottom: 0px">
      <h1>Xin Chào!</h1>
      <p class="lead">Chào mừng đến với <strong>Online</strong> <b>Test</b></p>
      {% comment %}
      <hr class="my-4" />
      {% endcomment %}
      <p>Bạn có thể truy cập các tính năng khác nhau sau khi đăng nhập.</p>
      <p class="lead">
        <a class="btn-cr" href="teachersignup">Tạo tài khoảng</a>
        <a class="btn-lo" href="teacherlogin">Đăng nhập</a>
      </p>
    </div>
    {% include "quiz/footer.html" %}
  </body>
</html>
{% comment %}
<div class="home-img">
  <div class="bgr">
    <img src="{% static "image/back.png" %}" class="img1"> <img src="{% static
    "image/students.png" %}" class="img2">
  </div>
</div>
{% endcomment %}
