<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <body>
    {% include "quiz/navbar.html" %}
  <section class="home">
    <div class="home-content">
        <h1>NỀN TẢNG SÁNG TẠO CUỘC THI TRỰC TUYẾN </h1>
        <p>Xây dựng cuộc thi chuyên nghiệp của riêng bạn trong 10 phút
          hoặc dễ dàng tham gia thi trực tuyến với  <strong>Online</strong><b>test</b> </p>
        <!-- lien ket va dang nhap -->
        <div class="form-box login"> 
            <a class="btnHome" href="/student/studentsignup" role="button" >THAM GIA</a>
        </div>
       
    </div>
    <div class="home-img">
        <div class="bgr">
          <img src="{% static "image/back.png" %}" class="img1">
          <img src="{% static "image/students.png" %}" class="img2">

        </div>
    </div>
</section>
  {% include "quiz/footer.html" %}
  </body>

</html>

